<ion-header>
  <ion-toolbar>
    <ion-title>
      Thống kê trong ngày
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="scroll">
  <highcharts-chart 
    [Highcharts]="Highcharts"

    [constructorType]="chartConstructor"
    [options]="chartOptions"
    [callbackFunction]="chartCallback"

    [(update)]="updateFlag"
    [oneToOne]="oneToOneFlag"
    [runOutsideAngular]="runOutsideAngularFlag">
  </highcharts-chart>

  <highcharts-chart 
    [Highcharts]="Highcharts"
    [options]="chartOptionsdoam"
    [callbackFunction]="chartDoAmCallback">
  </highcharts-chart>

  
</div>
